* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr 8fr 1fr;
}

div {
    border: 1px solid black;
}

.header, 
.footer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#name-one,
#name-two {
    width: 100%;
}

#name-one:invalid,
#name-two:invalid {
    border-color: red;
}

#name-one:valid,
#name-two:valid {
    border-color: green;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.game-info {
    width: 36vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.game-board {
    height: 35vw;
    width: 35vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 20px;
}

.grid-cell {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}