* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr 8fr 1fr;
}
/*
div {
    border: 1px solid white;
}
*/
.header, 
.footer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header > p,
.footer > p {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.header {
    border-bottom: 1px solid white;
}

.footer {
    border-top: 1px solid white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    border-right: 1px solid white;
}

.player-info > label {
    font-weight: bold;
    color: white;
}

#name-one,
#name-two {
    width: 100%;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
    font-weight: bold;
}

#name-one:invalid,
#name-two:invalid {
    border-color: red;
}

#name-one:valid,
#name-two:valid {
    border-color: green;
}

#bt-start-reset {
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

#bt-start-reset:hover {
    background-color: darkslategray;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: black;
}

.game-info {
    width: 36vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.game-board {
    height: 35vw;
    width: 35vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 20px;
    border-color: white;
    gap: 10px;
    background-color: black;
}

.grid-cell {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    background-color: darkslategray;
    color: white;
}